<!DOCTYPE html>
<html>
  <head>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

      <!-- Utilizing a bootstrap CDN template called Darkly -->
      <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/darkly/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-w+8Gqjk9Cuo6XH9HKHG5t5I1VR4YBNdPt/29vwgfZR485eoEJZ8rJRbm3TR32P6k"
      crossorigin="anonymous"
    />

    <!-- Style sheet for CSS link -->
    <link rel="stylesheet" href="css/style.css"/>
    
    <!-- Regular Bootstrap -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <!-- Navigation Bar and Links to each Page  -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
      
      <!-- Warframe Home Button -->
      <a href="/" title="HOME Button"> Warframe Fan Site</a>

      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <!-- Warframe Page Click -->
          <li class="nav-item">
            <a class="nav-link" href="/warframe">Warframes</a>
          </li>
          <!-- About Page Click -->
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
        </ul>
          </button>
        </form>
      </div>
    </nav>

    <!-- Navigation Bar End -->

    <!-- Actual Body Content Here -->

    

        <!-- End of actual body content -->


      <!-- Styled image on the bottom right-->

    <img src="images/Cephalon Simaris.png" class="rounded-circle mx-auto d-block float-right" width="15%">


    <!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-center">Contact Information</h5>
        <p>Let me know what you think of this project by sending me any ideas on how to go forward</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links to Contact Information -->
        <h5 class="text-uppercase">Links and Such</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://www.linkedin.com/in/isaiah-vertus-1525aa143/">LinkedIn</a>
          </li>
          <li>
            <a href="https://github.com/IsaiahIJV">Github</a>
          </li>
          <li>
              <A href="mailto:isaiah.vertus@gmail.com">Email</A>
          </li>
        </ul>

      </div>

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright: Isaiah Vertus (The assets from this website are not owned by me)

  </div>
</footer>
  </body>
</html>
